# PROJECT : Using Decision Tree to understand Road accident in Songkran Festival

### GROUP : 
#### 1. Arunwat Moonbung        | 6131501066
#### 2. Natthida Patlee         | 6131501016
#### 3. Nattawadee Philuekruang | 6131501021
#### 3. Piya Jairat             | 6131501035
#### 4. Wirakan Keawkanya       | 6131501054

### INCLUDE ALL IMPORTANT LIBRARY INTO PROJECT HERE

In [1]:
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import numpy as np
plt.rcParams['font.family'] = 'tahoma'

### IMPORT songkran.xlsx file

In [6]:
songkran_original_dataset = pd.read_csv('songkran.csv',encoding='unicode_escape')

## Exploratory Data Analysis & Data preprocessing & Feature Engineering

## Basic Exploration 
### Number of Row x Columns, data types and statistic

In [7]:
#dtypes display maximum 150 columns
pd.set_option('display.max_rows', 150)
pd.set_option('display.max_columns', 150)
display("Number of Row x Columns of Original tcas.xlsx", songkran_original_dataset.shape)
display("79 Columns and their data types",songkran_original_dataset.dtypes)

'Number of Row x Columns of Original tcas.xlsx'

(202298, 19)

'79 Columns and their data types'

Year                 object
ProvinceCode          int64
Province             object
HospitalCode          int64
HospitalName         object
Date                  int64
Time                 object
Sex                  object
Age                   int64
CrimeScene           object
Status               object
InjuredCar           object
DisputantCar         object
PreventiveMeasure    object
Alchohol             object
TransferMethod       object
Refer-Admit          object
Results              object
DateCured             int64
dtype: object