# PROJECT : Using Decision Tree to understand Road accident in Songkran Festival

### GROUP : 
#### 1. Arunwat Moonbung        | 6131501066
#### 2. Natthida Patlee         | 6131501016
#### 3. Nattawadee Philuekruang | 6131501021
#### 3. Piya Jairat             | 6131501035
#### 4. Wirakan Keawkanya       | 6131501054

### INCLUDE ALL IMPORTANT LIBRARY INTO PROJECT HERE

In [1]:
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import numpy as np
plt.rcParams['font.family'] = 'tahoma'

### IMPORT songkran.csv file

In [2]:
songkran_original_dataset = pd.read_csv('songkran.csv',engine='python')

## Exploratory Data Analysis & Data preprocessing & Feature Engineering

## Basic Exploration 
### Number of Row x Columns, data types and statistic

In [3]:
#dtypes display maximum 150 columns
pd.set_option('display.max_rows', 150)
pd.set_option('display.max_columns', 150)
display("Number of Row x Columns of Original dataset", songkran_original_dataset.shape)
display("Columns and their data types",songkran_original_dataset.dtypes)

'Number of Row x Columns of Original tcas.xlsx'

(202298, 19)

'Columns and their data types'

Year                 object
ProvinceCode          int64
Province             object
HospitalCode          int64
HospitalName         object
Date                  int64
Time                 object
Sex                  object
Age                   int64
CrimeScene           object
Status               object
InjuredCar           object
DisputantCar         object
PreventiveMeasure    object
Alchohol             object
TransferMethod       object
Refer-Admit          object
Results              object
DateCured             int64
dtype: object

In [4]:
display("Statistic of numeric features", songkran_original_dataset.describe())
display("Statistic of category features", songkran_original_dataset.describe(include=['object']))

'Statistic of numeric features'

,ProvinceCode,HospitalCode,Date,Age,DateCured
count,202298.000000,202298.000000,202298.000000,202298.000000,202298.000000
mean,48.358733,11332.568770,13.699068,27.972229,0.296686
std,24.091981,1384.988602,1.810722,16.281154,1.610224
min,10.000000,10660.000000,10.000000,0.000000,0.000000
25%,30.000000,10772.000000,12.000000,16.000000,0.000000
50%,47.000000,11048.000000,13.000000,24.000000,0.000000
75%,67.000000,11330.000000,15.000000,38.000000,0.000000
max,97.000000,34563.000000,18.000000,99.000000,31.000000

'Statistic of category features'

,Year,Province,HospitalName,Time,Sex,CrimeScene,Status,InjuredCar,DisputantCar,PreventiveMeasure,Alchohol,TransferMethod,Refer-Admit,Results
count,202298,202298,202298,200762,202298,197029,200538,198949,189082,189895,190023,202298,202298,202298
unique,7,152,1265,24,2,3,4,11,11,3,2,9,4,2
top,สงกรานต์ 51,Nakhon Ratchasima,บางละมุง,17:01-18:00 น.,Male,Countryside,Rider,Motorcycle,None,Not Wearing a helmet,No,Victim / Relative,No,Injured
freq,32328,9076,1143,16997,133065,104167,129116,153601,115288,161577,120957,127992,155300,199350

### Basic Exploration | Observing Missing Value

In [5]:
display('Missing Value in each Columns')
display(songkran_original_dataset.isnull().sum(axis=0)/len(songkran_original_dataset)*100)

'Missing Value in each Columns'

Year                 0.000000
ProvinceCode         0.000000
Province             0.000000
HospitalCode         0.000000
HospitalName         0.000000
Date                 0.000000
Time                 0.759276
Sex                  0.000000
Age                  0.000000
CrimeScene           2.604573
Status               0.870004
InjuredCar           1.655479
DisputantCar         6.532937
PreventiveMeasure    6.131054
Alchohol             6.067781
TransferMethod       0.000000
Refer-Admit          0.000000
Results              0.000000
DateCured            0.000000
dtype: float64

In [6]:
display('Missing Value in each Rows')
display(songkran_original_dataset.isnull().sum(axis=1)/len(songkran_original_dataset.columns)*100)

'Missing Value in each Rows'

0         10.526316
1          0.000000
2         10.526316
3          5.263158
4          5.263158
            ...
202293     0.000000
202294     0.000000
202295     5.263158
202296     0.000000
202297     0.000000
Length: 202298, dtype: float64

## Data cleansing before Univariate Analysis
### Remove Columns contain too many missing values (>= 50%)
### There is no unusable features in this dataset since all columns has missing value less than 50% or even less than 10%

In [12]:
#Display and Check which columns have missing value more than 50%
display('Columns which have missing value more than 50%',songkran_original_dataset.columns[songkran_original_dataset.isnull().sum()/len(songkran_original_dataset)*100 >= 50])
display('Columns which have missing value more than 25%',songkran_original_dataset.columns[songkran_original_dataset.isnull().sum()/len(songkran_original_dataset)*100 >= 25])
display('Columns which have missing value more than 10%',songkran_original_dataset.columns[songkran_original_dataset.isnull().sum()/len(songkran_original_dataset)*100 >= 10])

'Columns which have missing value more than 50%'

Index([], dtype='object')

'Columns which have missing value more than 25%'

Index([], dtype='object')

'Columns which have missing value more than 10%'

Index([], dtype='object')

## Univariate Analysis
### Categorical features

In [ ]:
#TEST

### Numerical features

In [ ]:
#TEST

## Data cleansing
### Remove Scope and Duplicate meaning and Irrevant of Columns and Row

## Bivariate Analysis?

## Feature Engineering

## Decision Tree, Feature Importance
#### USED TO FIND IMPORTANT Feature which can be used to improve accuracy of decision tree!

In [ ]:
# In progress of Studying...

## Last-time Data Cleaning

## Model Development

## Model Analysis